<template>
  <div class="auth">
    <form class="auth-form col-10 col-md-6 col-lg-4">
      <div class="form-group">
        <label for="login">Login</label>
        <input type="text"
               class="form-control"
               id="login"
               v-model="login"
        >
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password"
               class="form-control"
               id="password"
               v-model="password"
        >
      </div>
      <small class="alert alert-danger" role="alert" v-if="error">
        {{error}}
      </small>
      <button type="submit"
              class="btn btn-primary align-self-end"
              :disabled="loading"
              @click.prevent="submit"
      >
        <span v-if="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        <span v-else>Login</span>
      </button>
    </form>
  </div>
</template>

<script>
  import {mapGetters} from 'vuex';

  export default {
    name: "Auth",
    data: () => ({
      login: '',
      password: ''
    }),
    computed: {
      ...mapGetters('auth', [
        'loading',
        'error'
      ])
    },
    methods: {
      submit() {
        this.$store.dispatch('auth/login', {
          login: this.login,
          password: this.password
        }).then(() => {
          this.$router.push({name: 'contacts'})
        }, () => {});
      }
    }
  }
</script>

<style lang="scss" scoped>
  .auth {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #bababa;
    &-form {
      padding: 20px;
      border: 1px solid gray;
      border-radius: 10px;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      button {
        min-width: 120px;
      }
    }
  }
</style>