<template>
  <div>
    <section class="header">
      <div><b>Hi, {{user}}!</b></div>
      <button class="btn btn-link" @click.stop="logout">Logout</button>
    </section>
    <div v-if="loading" class="loading container d-flex justify-content-center">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <section v-else class="contacts container">
      <div class="add-contact">
        <button type="button"
                class="btn btn-primary"
                @click.stop="editContact(null)"
        >
          Add new contact
        </button>
      </div>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Phone</th>
            <th scope="col"></th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="contact in contacts"
              :key="contact.id"
          >
            <td scope="row">{{contact.name}}</td>
            <td>{{contact.phone}}</td>
            <td class="action">
              <button type="button"
                      class="btn btn-info"
                      @click.stop="editContact(contact)"
              >
                <img class="icon" src="@/assets/pencil-alt-solid.svg" alt="edit">
              </button>
              <button type="button"
                      class="btn btn-danger"
                      @click.stop="removeContact(contact.id)"
              >
                <img class="icon" src="@/assets/trash-alt-regular.svg" alt="delete">
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </section>
    <snackbar v-if="!!message">
      {{message}}
    </snackbar>
    <modal v-if="modal"
           :contact="editingContact"
           @accept="acceptModal"
           @close="closeModal"
    ></modal>
    <confirm v-if="showConfirmDelete"
             @action="confirmDelete"
    >
      Are you sure you want to delete this contact?
    </confirm>
  </div>
</template>

<script>
  import Modal from '@/components/Modal.vue';
  import Confirm from '@/components/Confirm.vue';
  import Snackbar from '@/components/Snackbar.vue';
  import {mapGetters} from 'vuex';

  export default {
    name: "Contacts",
    components: {Modal, Snackbar, Confirm},
    data: () => ({
      modal: false,
      editingContact: null,
      showConfirmDelete: false,
      deletedId: null
    }),
    computed: {
      ...mapGetters('auth', [
        'user',
        'uid'
      ]),
      ...mapGetters('contacts', [
        'contacts',
        'loading',
        'message'
      ])
    },
    methods: {
      logout() {
        this.$store.dispatch('contacts/clearState');
        this.$store.dispatch('auth/logout');
        this.$router.push({name: 'auth'});
      },
      removeContact(id) {
        this.showConfirmDelete = true;
        this.deletedId = id;
      },
      confirmDelete(val) {
        this.showConfirmDelete = false;
        if(val) {
          this.$store.dispatch('contacts/removeContact', {uid: this.uid, id: this.deletedId});
        }
      },
      editContact(contact = null) {
        this.editingContact = contact;
        this.showModal();
      },
      acceptModal(contact) {
        if(contact.hasOwnProperty('id')) {
          this.$store.dispatch('contacts/editContact', {uid: this.uid, contact});
        } else {
          this.$store.dispatch('contacts/addContact', {uid: this.uid, contact});
        }
        this.closeModal();
      },
      showModal() {
        this.modal = true;
      },
      closeModal() {
        this.modal = false;
      }
    },
    mounted() {
      this.$store.dispatch('contacts/getContacts', this.uid);
    }
  }
</script>

<style lang="scss" scoped>
  .header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #eeeeee;
    border-bottom: 1px solid #adadad;
  }
  .loading {
    margin-top: 10px;
    padding: 20px;
    background-color: #d8d8d8;
    border-radius: 10px;
  }
  .add-contact {
    display: flex;
    justify-content: flex-end;
    margin: 10px 0;
  }
  .contacts {
    padding-top: 10px;
    td {
      vertical-align: middle;
    }
    .action > .btn {
      margin-left: 10px;
    }
  }
  .icon {
    width: 20px;
    height: 20px;
  }
</style>