<template>
  <div class="modal-layout" @click="layoutClick">
    <div class="v-modal" ref="modal" @click.stop="">
      <slot></slot>
      <hr>
      <div class="modal-action">
        <button type="button"
                class="btn btn-secondary"
                @click.stop="action(false)"
        >
          Cancel
        </button>
        <button type="submit"
                class="btn btn-primary"
                :disabled="false"
                @click.prevent="action(true)"
        >
          <span v-if="false" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          <span v-else>OK</span>
        </button>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "Confirm",
    methods: {
      action(val) {
        this.$emit('action', val);
      },
      layoutClick() {
        this.$refs.modal.classList.remove('modal-animated');
        window.setTimeout(() => {
          this.$refs.modal.classList.add('modal-animated');
        }, 10);
      }
    }
  }
</script>

<style scoped>
  .message {
    margin-bottom: 20px;
  }
</style>