<template>
  <div class="modal-layout" @click="layoutClick">
    <div class="v-modal" ref="modal" @click.stop="">
      <h2>Edit contact</h2>
      <hr>
      <form>
        <div class="form-group row">
          <label for="nameContact" class="col-sm-2 col-form-label">Name: </label>
          <div class="col-sm-10">
            <input type="text"
                   class="form-control"
                   :class="{error: error.name}"
                   id="nameContact"
                   v-model="editing.name"
            >
          </div>
        </div>
        <div class="form-group row">
          <label for="phoneNumber" class="col-sm-2 col-form-label">Phone:</label>
          <div  class="col-sm-10">
            <input type="text"
                   class="form-control"
                   :class="{error: error.phone}"
                   id="phoneNumber"
                   v-model="editing.phone"
            >
          </div>
        </div>
        <div class="modal-action">
          <button type="button"
                  class="btn btn-secondary"
                  @click.stop="close"
          >
            Cancel
          </button>
          <button type="submit"
                  class="btn btn-primary"
                  :disabled="false"
                  @click.prevent="accept"
          >
            <span v-if="false" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            <span v-else>OK</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
  export default {
    name: "Modal",
    props: ['contact'],
    data: () => ({
      editing: {
        name: '',
        phone: ''
      },
      error: {
        name: false,
        phone: false
      }
    }),
    methods: {
      accept() {
        if(this.checkForm()) {
          this.$emit('accept', this.editing);
        }
      },
      checkForm() {
        for(let key in this.error) {
          this.error[key] = false;
        }
        this.validateEmpty('name');
        this.validateEmpty('phone');

        for(let key in this.error) {
          if(!!this.error[key]) {
            return false;
          }
        }
        return true;
      },
      validateEmpty(key) {
        if(this.editing[key] === '') {
          this.error[key] = true;
        }
      },
      close() {
        for(let key in this.errors) {
          this.errors[key] = false;
        }
        this.$emit('close');
      },
      layoutClick() {
        this.$refs.modal.classList.remove('modal-animated');
        window.setTimeout(() => {
          this.$refs.modal.classList.add('modal-animated');
        }, 10);
      }
    },
    mounted() {
      if(this.contact != null){
        this.editing = {...this.contact};
      }
    }
  }
</script>

<style lang="scss">
  .modal-layout {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
  }
  .v-modal {
    max-width: 500px;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #9e9e9e;
    .error {
      border: 1px solid red;
    }
  }
  .modal-action {
    display: flex;
    justify-content: flex-end;
    .btn {
      margin-left: 10px;
      min-width: 70px;
    }
  }
  .modal-animated {
    animation: blink 0.3s linear 0s 3;
  }
  @keyframes blink {
    0%, 100% {
      box-shadow: none;
    }
    50% {
      box-shadow: 0 0 15px 5px #9e9e9e;
    }
  }
</style>