<template>
  <transition name="snack">
    <div v-if="isActive"
         class="v-snackbar v-snackbar--success"
    >
      <div class="v-snackbar__content">
        <slot></slot>
      </div>
    </div>
  </transition>
</template>

<script>
  export default {
    name: "Snackbar",
    props: {
      timeout: {
        type: Number,
        default: 5000
      }
    },
    data () {
      return {
        isActive: false,
        activeTimeout: -1
      }
    },
    watch: {
      isActive () {
        this.setTimeout();
      }
    },
    mounted () {
      this.isActive = true;
      this.setTimeout();
    },
    methods: {
      setTimeout () {
        window.clearTimeout(this.activeTimeout);

        if (this.isActive && this.timeout) {
          this.activeTimeout = window.setTimeout(() => {
            this.isActive = false;
          }, this.timeout);
        }
      }
    }
  }
</script>

<style lang="scss" scoped>

  .v-snackbar {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 20px;
    border-radius: 4px;
    &--success {
      background-color: lighten(#398783, 40);
      color: #044b64;
    }
  }
  .snack-enter-active,
  .snack-leave-active {
    transition: all 0.5s ease;
  }
  .snack-enter,
  .snack-leave-to {
    bottom: -20px;
    opacity: 0;
  }
</style>