<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<style lang="scss">
  @import "~bootstrap/scss/bootstrap-reboot";
  @import "~bootstrap/scss/utilities";
  @import "~bootstrap/scss/grid";
  @import "~bootstrap/scss/alert";
  @import "~bootstrap/scss/buttons";
  @import "~bootstrap/scss/forms";
  @import "~bootstrap/scss/spinners";
  @import "~bootstrap/scss/tables";
  @import "~bootstrap/scss/modal";
  @import "~bootstrap/scss/toasts";
</style>
